.App {
  text-align: center;
  height: 3300px;
}

.title {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

.subtitle {
  font-size: 1.67rem;
  font-weight: 100;
}

.small-title {
  font-size: 0.82rem;
  margin-top: 2.3rem;
  font-weight: 300;
}

.hex {
  margin-top: 300px;
  margin-bottom: 300px;
}
